# Always ignore
.ssh

# Ignore generated/derived/downloaded stuff
/dist
/node_modules
**/*.d.ts
!/src/scripts/env.d.ts

# Ignore IDE/tools stuff
/.idea
/coverage

# Ignore other development stuff
/.vercel
*DRAFT*
*LOG*
Hyper-V*
