@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
    html {
        @apply text-gray-600
    }

    h1 {
        @apply text-3xl font-semibold
    }

    h2 {
        @apply text-lg font-semibold
    }

    a {
        @apply underline
    }

    li > a {
        @apply no-underline
    }
}

@layer components {}

@layer utilities {
    .capitalized::first-letter {
        text-transform: capitalize;
    }

    .unchecked {
        @apply after:content-['✗'] after:content-center after:font-bold after:text-xl after:text-red-600 after:ml-2
    }

    .checked {
        @apply after:content-['✓'] after:content-center after:font-bold after:text-xl after:text-green-600 after:ml-2
    }

    .code {
        @apply font-mono text-sm
    }

    .warning {
        @apply text-sm text-amber-500
    }

    .todo {
        @apply font-mono text-sm text-red-500
    }

    /* DEBUG: Element placing: Activate when needed
    article, section, div, span, ul, li > * {
        border: 1px dotted red
    }
    */

    /* DEBUG: Media query: Activate when needed
    header::after {
        @media (max-width: 640px) {
            content: 'Media breakpoint: < sm';
        }
        @media screen(sm) {
            content: 'Media breakpoint: sm';
        }
        @media screen(md) {
            content: 'Media breakpoint: md';
        }
        @media screen(lg) {
            content: 'Media breakpoint: lg';
        }
        @media screen(xl) {
            content: 'Media breakpoint: xl';
        }
        @media (min-width: 1536px) {
            content: 'Media breakpoint: 2xl';
        }
        @media (min-width: 1920px) {
            content: 'Media breakpoint: > 2xl';
        }
    }
    */
}
